.header-list
  .header-list__left
    = link_to root_path, class: "header-list__left__link" do
      .header-list__left__logo
        エフェクター館
  .header-list__right
    %ul.header-list__right__info-list
      %li.header-list__right__info-list__info
        = link_to "#", class: "header-list__right__info-list__info__link" do
          当サイトの概要
      %li.header-list__right__info-list__info
        = link_to "#", class: "header-list__right__info-list__info__link" do
          利用方法
      %li.header-list__right__info-list__info
        = link_to "#", class: "header-list__right__info-list__info__link" do
          初めての方はこちら
    .header-list__right__btns
      - if user_signed_in?
        .header-list__right__btns__tag
          name:
        %h.header-list__right__btns__name
          = current_user.name
        = link_to destroy_user_session_path, method: :delete, class: "header-list__right__btns__link" do
          .header-list__right__btns__link__btn
            ログアウト
        = link_to new_board_path, class: "header-list__right__btns__link" do
          .header-list__right__btns__link__btn
            新規投稿
      - else
        = link_to new_user_session_path, class: "header-list__right__btns__link" do
          .header-list__right__btns__link__btn
            ログイン
        = link_to new_user_registration_path, class: "header-list__right__btns__link" do
          .header-list__right__btns__link__btn
            新規登録

