.side-bar
  .side-bar__user-info
    %p.side-bar__user-info__name
      宮田 涼平
    %p.side-bar__user-info__point
      30 point
    .side-bar__user-info__icon
      = link_to "#", class: "side-bar__user-info__icon__link" do
        = icon('fas', 'shopping-cart',  class: "side-bar__user-info__icon__link__btn")
      = link_to "#", class: "side-bar__user-info__icon__link" do
        = icon('fas', 'user-cog',  class: "side-bar__user-info__icon__link__btn")
  %h.side-bar__user-effectors
    = link_to "#", class: "side-bar__user-effectors__link" do
      みんなのボード
  %ul.side-bar__effectors
    エフェクターの種類
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      全て表示
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      歪み系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      モジュレーション系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      空間系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      ダイナミクス系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      フィルター系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      ハーモニー系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      アンプ系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      ボリューム系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      回路系
  %li.side-bar__effectors__genre
    = link_to "#", class: "side-bar__effectors__genre__link" do
      配線類
